* {
  box-sizing: border-box;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

#header-container {
  display: flex;
  padding-top: 47px;
}

.background {
  position: absolute;
  width: 1089px;
  height: 610px;
  background-color: #0890b3;
  clip-path: polygon(0 0, 100% 0, 100% 51%, 0 89%);
  z-index: -1;
}

.header-img {
  width: 424px;
  height: 451px;
  display: block;
  margin: auto;
  box-shadow: 3px 3px 10px 2px rgba(0, 0, 0, 0.37);
}

.svg-icons {
  width: 30px;
}

.full-name {
  transform: translate(5%, -117%);
  font-size: 3.2rem;
  text-align: left;
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px 4px #000000c1;
  float: left;
}

.about-me {
  width: 541px;
  height: 366px;
  font-size: 16px;
  font-weight: 300;
  font-family: "Playfair Display", serif;
  background-color: white;
  position: relative;
  left: -118px;
  top: 38px;
  padding: 25px;
  box-shadow: 3px 3px 10px 2px rgba(0, 0, 0, 0.37);
}
.about-me h2 {
  font-size: 36px;
  font-weight: 400;
  font-family: "Playfair Display", serif;
}
.about-me > div {
  color: rgba(0, 0, 0, 0.645);
  line-height: 32px;
  margin-top: 30px;
}
.header-socials {
  float: right;
  margin-top: 30px;
}

@media (max-width: 600px) {
  .header-img {
    width: 274px;
    height: 299px;
    display: block;
    margin: auto;
    position: relative;
    left: 148px;
    top: 20px;
    box-shadow: 3px 3px 10px 2px rgba(0, 0, 0, 0.37);
  }
  .background {
    position: absolute;
    width: 596px;
    height: 362px;
    background-color: #0890b3;
    clip-path: polygon(0 0, 100% 0, 100% 51%, 0 89%);
    z-index: -1;
  }

  .about-me {
    width: 463px;
    height: 460px;
    position: relative;
    left: -145px;
    top: 336px;
  }

  .full-name {
    transform: translate(57%, -775%);
    font-size: 36px;
  }
}

@media (max-width: 300px) {
  .header-img {
    width: 274px;
    height: 299px;
    display: block;
    margin: auto;
    position: relative;
    left: 148px;
    top: 20px;
    box-shadow: 3px 3px 10px 2px rgba(0, 0, 0, 0.37);
  }
  .background {
    position: absolute;
    width: 596px;
    height: 362px;
    background-color: #0890b3;
    clip-path: polygon(0 0, 100% 0, 100% 51%, 0 89%);
    z-index: -1;
  }

  .about-me {
    width: 463px;
    height: 460px;
    position: relative;
    left: -145px;
    top: 336px;
  }

  .full-name {
    transform: translate(57%, -775%);
    font-size: 36px;
  }
}
