* {
  box-sizing: border-box;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  width: 1089px;
}

#header-container {
  display: flex;
  padding-top: 47px;
}

.background {
  position: absolute;
  width: 1089px;
  height: 610px;
  background-color: #0890b3;
  clip-path: polygon(0 0, 100% 0, 100% 51%, 0 89%);
  z-index: -1;
}

.header-img {
  max-width: 424px;
  max-height: 451px;
  display: block;
  margin-left: 42px;
  box-shadow: 3px 3px 10px 2px rgba(0, 0, 0, 0.37);
}

.svg-icons {
  width: 30px;
}

.full-name {
  transform: translate(16%, -135%);
  font-size: 3.2rem;
  text-align: left;
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px 4px #000000c1;
  float: left;
}

.about-me {
  max-width: 541px;
  max-height: 366px;
  font-size: 1rem;
  font-weight: 400;
  font-family: "Roboto";
  background-color: white;
  position: relative;
  left: -44px;
  top: 38px;
  padding: 25px;
  box-shadow: 3px 3px 10px 2px rgba(0, 0, 0, 0.37);
}
.about-me h2 {
  font-size: 36px;
  font-weight: 400;
  font-family: "Playfair Display", serif;
}
.about-me > div {
  color: rgba(0, 0, 0, 0.645);
  line-height: 32px;
  margin-top: 30px;
}
.header-socials {
  float: right;
  margin-top: 30px;
}

/*main section */

.porto-container {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 1rem;
}
.porto-card {
  max-width: 295px;
  border: 1px solid rgb(187, 187, 187);
  border-radius: 3px;
  box-shadow: 2px 3px 15px 1px rgba(129, 129, 129, 0.651);
}
.porto-title {
  position: relative;
  top: -40px;
  font-size: 36px;
  font-weight: 400;
  font-family: "Playfair Display", serif;
}
#portofolio {
  padding: 100px 50px;
}
.project-desc {
  font-size: 14px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.645);
  font-family: "Roboto";
  padding-bottom: 2rem;
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
.project-title {
  font-size: 18px;
  font-weight: 400;
  font-family: "Playfair Display", serif;
}
.project-title-container {
  display: flex;
  padding-top: 10px;
}

/* footer section */
.footer {
  background-color: #0890b3;
  display: flex;
  padding: 50px;
}
.contact {
  color: #fff;
}

.svg-icons-footer {
  width: 40px;
  fill: #fff;
  margin-left: 5px;
}
.svg-icons-footer-phone {
  position: relative;
  width: 30px;
  fill: #fff;
  left: -30px;
}
.phone-mail {
  position: relative;
  top: 30px;
}

.svg-icons-footer-mail {
  position: relative;
  width: 30px;
  fill: #fff;
  left: -3px;
}
.footer-icons {
  margin-top: 60px;
  margin-left: -9px;
}
footer h2 {
  font-size: 36px;
  font-weight: 400;
  font-family: "Playfair Display", serif;
}
footer {
  font-size: 1rem;
  font-weight: 400;
  font-family: "Roboto";
  line-height: 32px;
}
.footer-text {
  margin-top: 30px;
}
.address {
  margin-top: 30px;
}
.phone {
  display: flex;
}
.phone p {
  position: relative;
  left: -70px;
}
.mail p {
  position: relative;
  left: 10px;
}
.mail {
  display: flex;
  align-items: stretch;
}
@media (min-width: 300px) and (max-width: 599px) {
  .full-name {
    transform: translate(77%, -663%);
    font-size: 3.5rem;
  }
  .header-socials {
    display: none;
  }
  .header-img {
    max-width: 455px;
    max-height: 486px;
    margin-left: 313px;
  }
  .about-me {
    min-width: 609px;
    min-height: 379px;
    z-index: -1;
    left: 173px;
  }
  .hero-header img {
    position: relative;
    top: 100px;
  }
  #header-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
  }
}
@media (min-width: 600px) and (max-width: 1199px) {
  .header-img {
    position: relative;
    left: -55px;
    top: -5px;
    box-shadow: 3px 3px 10px 2px rgba(0, 0, 0, 0.37);
  }
  .about-me {
    max-height: 446px;
    z-index: -1;
    left: -232px;
    top: -19px;
  }
  #portofolio {
    padding: 58px;
  }
  .full-name {
    transform: translate(-2%, -158%);
    font-size: 2.1rem;
  }
  .porto-container {
    display: grid;
    grid-template-columns: auto auto;
    gap: 1rem;
    justify-content: start;
  }

  .about-me h2 {
    padding-left: 172px;
  }
  .paragraph {
    padding-left: 55px;
  }
  .header-socials {
    display: none;
  }
  footer {
    position: relative;
    left: -105px;
  }
  .porto-title {
    color: #fff;
  }
}
@media (max-width: 100px) {
  body {
    width: 100%;
  }
  .full-name {
    transform: translate(56%, -153%);
    font-size: 0.8rem;
  }
  .porto-container {
    display: grid;
    grid-template-columns: auto;
  }
  .background {
    width: 217%;
  }
  #portofolio {
    padding: 17px 0px;
  }
  .about-me h2 {
    font-size: 16px;
    font-weight: 400;
    font-family: "Playfair Display", serif;
  }
  .about-me {
    font-size: 10px;
    font-weight: 400;
    font-family: "Roboto";
    background-color: white;
    width: 196px;
    left: 10px;
    box-shadow: none;
    top: 0px;
  }
  .about-me > div {
    color: rgba(0, 0, 0, 0.645);
    line-height: 20px;
  }

  #header-container {
    display: flex;
    flex-direction: column;
  }
  .svg-icons {
    width: 20px;
  }
  .footer {
    display: flex;
    flex-direction: column;
    width: 217%;
  }
  .footer-title {
    font-size: 16px;
    font-weight: 400;
    font-family: "Playfair Display", serif;
  }
  .header-img {
    margin-top: -30px;
  }
  .footer {
    padding: 15px;
    font-size: 10px;
    font-family: "Roboto";
  }
  .svg-icons-footer-phone {
    width: 20px;
  }
  .svg-icons-footer-mail {
    width: 20px;
  }
  .phone p {
    position: relative;
    left: -55px;
  }
  .svg-icons-footer-mail {
    left: -11px;
  }
  .mail p {
    position: relative;
    left: -2px;
  }
  .footer-text {
    margin-top: 20px;
  }
  .address {
    margin-top: 20px;
  }
  .phone-mail {
    position: relative;
    top: 20px;
  }
  .svg-icons-footer {
    width: 30px;
    fill: #fff;
    margin-left: 5px;
  }
  .footer-icons {
    margin-top: 40px;
    margin-left: 5px;
  }
}
